
<div *ngIf="week">
    <h2><span jhiTranslate="thcssondongApp.week.detail.title">Tuần học</span> {{week.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="thcssondongApp.week.weekName">Tên Tuần học</span></dt>
        <dd>
            <span>{{week.weekName}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.week.isActive">Trạng thái</span></dt>
        <dd>
            <span jhiTranslate="{{'thcssondongApp.Active.' + week.isActive}}">{{week.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.week.semester">Kỳ học</span></dt>
        <dd>
            <div *ngIf="week.semesterId">
                <a [routerLink]="['/semester-my-suffix', week.semesterId]">{{week.semesterId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Quay lại</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'week-my-suffix/'+ week.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Xem</span>
    </button>
</div>
