
<div *ngIf="lesson">
    <h2><span jhiTranslate="thcssondongApp.lesson.detail.title">Lesson</span> {{lesson.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="thcssondongApp.lesson.date">Date</span></dt>
        <dd>
            <span>{{lesson.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.ordinalNumber">Ordinal Number</span></dt>
        <dd>
            <span jhiTranslate="{{'thcssondongApp.OrdinalNumber.' + lesson.ordinalNumber}}">{{lesson.ordinalNumber}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.lessonTitle">Lesson Title</span></dt>
        <dd>
            <span>{{lesson.lessonTitle}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.isActive">Trạng thái</span></dt>
        <dd>
            <span jhiTranslate="{{'thcssondongApp.Active.' + lesson.isActive}}">{{lesson.isActive}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.teacher">Giáo viên</span></dt>
        <dd>
            <div *ngIf="lesson.teacherId">
                <a [routerLink]="['/teacher-my-suffix', lesson.teacherId]">{{lesson.teacherId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.week">Tuần học</span></dt>
        <dd>
            <div *ngIf="lesson.weekId">
                <a [routerLink]="['/week-my-suffix', lesson.weekId]">{{lesson.weekId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.subject">Môn học</span></dt>
        <dd>
            <div *ngIf="lesson.subjectId">
                <a [routerLink]="['/subject-my-suffix', lesson.subjectId]">{{lesson.subjectId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.room">Phòng học</span></dt>
        <dd>
            <div *ngIf="lesson.roomId">
                <a [routerLink]="['/room-my-suffix', lesson.roomId]">{{lesson.roomId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.lesson.classSchool">Lớp học</span></dt>
        <dd>
            <div *ngIf="lesson.classSchoolId">
                <a [routerLink]="['/class-school-my-suffix', lesson.classSchoolId]">{{lesson.classSchoolId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Quay lại</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'lesson-my-suffix/'+ lesson.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Xem</span>
    </button>
</div>
