<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLessonLabel" jhiTranslate="thcssondongApp.lesson.home.createOrEditLabel">Create or edit a Tiết học</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!lesson.id">
            <label for="id" jhiTranslate="global.field.id">Mã</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="lesson.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.dow" for="field_dow">Thứ trong tuần</label>
            <select class="form-control" name="dow" [(ngModel)]="lesson.dow" id="field_dow"  required>
                <option value="SUN">{{'thcssondongApp.DateOfWeek.SUN' | translate}}</option>
                <option value="MON">{{'thcssondongApp.DateOfWeek.MON' | translate}}</option>
                <option value="TUE">{{'thcssondongApp.DateOfWeek.TUE' | translate}}</option>
                <option value="WED">{{'thcssondongApp.DateOfWeek.WED' | translate}}</option>
                <option value="THU">{{'thcssondongApp.DateOfWeek.THU' | translate}}</option>
                <option value="FRI">{{'thcssondongApp.DateOfWeek.FRI' | translate}}</option>
                <option value="SAT">{{'thcssondongApp.DateOfWeek.SAT' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.dow?.dirty && editForm.controls.dow?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dow?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.ordinalNumber" for="field_ordinalNumber">Tiết thứ</label>
            <select class="form-control" name="ordinalNumber" [(ngModel)]="lesson.ordinalNumber" id="field_ordinalNumber"  required>
                <option value="L1">{{'thcssondongApp.OrdinalNumber.L1' | translate}}</option>
                <option value="L2">{{'thcssondongApp.OrdinalNumber.L2' | translate}}</option>
                <option value="L3">{{'thcssondongApp.OrdinalNumber.L3' | translate}}</option>
                <option value="L4">{{'thcssondongApp.OrdinalNumber.L4' | translate}}</option>
                <option value="L5">{{'thcssondongApp.OrdinalNumber.L5' | translate}}</option>
                <option value="L6">{{'thcssondongApp.OrdinalNumber.L6' | translate}}</option>
                <option value="L7">{{'thcssondongApp.OrdinalNumber.L7' | translate}}</option>
                <option value="L8">{{'thcssondongApp.OrdinalNumber.L8' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.ordinalNumber?.dirty && editForm.controls.ordinalNumber?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.ordinalNumber?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.lessonTitle" for="field_lessonTitle">Tên bài dạy</label>
            <input type="text" class="form-control" name="lessonTitle" id="field_lessonTitle"
                [(ngModel)]="lesson.lessonTitle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.isActive" for="field_isActive">Trạng thái</label>
            <select class="form-control" name="isActive" [(ngModel)]="lesson.isActive" id="field_isActive"  required>
                <option value="DEACTIVE">{{'thcssondongApp.Active.DEACTIVE' | translate}}</option>
                <option value="ACTIVE">{{'thcssondongApp.Active.ACTIVE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.teacher" for="field_teacher">Giáo viên</label>
            <select class="form-control" id="field_teacher" name="teacher" [(ngModel)]="lesson.teacherId" >
                <option [ngValue]="teacherOption.id" *ngFor="let teacherOption of teachers; trackBy: trackTeacherById">{{teacherOption.userLogin}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.week" for="field_week">Tuần học</label>
            <select class="form-control" id="field_week" name="week" [(ngModel)]="lesson.weekId" >
                <option [ngValue]="weekOption.id" *ngFor="let weekOption of weeks; trackBy: trackWeekById">{{weekOption.weekName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.subject" for="field_subject">Môn học</label>
            <select class="form-control" id="field_subject" name="subject" [(ngModel)]="lesson.subjectId" >
                <option [ngValue]="subjectOption.id" *ngFor="let subjectOption of subjects; trackBy: trackSubjectById">{{subjectOption.subjectName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.room" for="field_room">Phòng học</label>
            <select class="form-control" id="field_room" name="room" [(ngModel)]="lesson.roomId" >
                <option [ngValue]="roomOption.id" *ngFor="let roomOption of rooms; trackBy: trackRoomById">{{roomOption.roomName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.lesson.classSchool" for="field_classSchool">Lớp</label>
            <select class="form-control" id="field_classSchool" name="classSchool" [(ngModel)]="lesson.classSchoolId" >
                <option [ngValue]="classSchoolOption.id" *ngFor="let classSchoolOption of classschools; trackBy: trackClassSchoolById">{{classSchoolOption.className}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Hủy</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Lưu lại</span>
        </button>
    </div>
</form>
