<div>
    <h2>
        <span jhiTranslate="thcssondongApp.lesson.home.title-teacher">Lịch giảng dạy của Giáo viên</span>
        <!--  <button class="btn btn-primary float-right jh-create-entity create-lesson-my-suffix" [routerLink]="['/', { outlets: { popup: ['lesson-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="thcssondongApp.lesson.home.createLabel">
            Create new Tiết học
            </span>
        </button> -->
    </h2>

    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div>
        <label class="label label-default" jhiTranslate="thcssondongApp.week.semester">Kỳ học</label>
        <select id="field_semester" name="semester"   (change)="onChangeSemester($event.target.value)">
            <option [ngValue]="semesterOption.id" value ="{{semesterOption.id}}" *ngFor="let semesterOption of semesters; trackBy: trackSemesterById" [selected]="semesterOption.isCurrent == true">{{semesterOption.semesterName}}</option>
        </select>
        <label class="label label-default" jhiTranslate="thcssondongApp.lesson.week">Tuần học</label>
        <select id="field_week" name="week"  (change)="onChangeWeek($event.target.value)">
            <option [ngValue]="weekOption.id" value ="{{weekOption.id}}" *ngFor="let weekOption of weeks; trackBy: trackWeekById">{{weekOption.weekName}}</option>
        </select>
    </div>
    <div class="table-responsive" *ngIf="lessons">

        <table class="table table-bordered text-center">
            <thead class="thead-inverse">
                <tr>
                    <th *ngFor="let dow of dateOfWeek ;" >
                        <span>{{dow}}</span>
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let rows of mapLesson">
                    <td *ngFor="let cell of rows" > 
                        <div *ngIf="cell != -1; else empty" ><!-- {{cell}}
                             {{lessons[cell].subjectName}} -->
                            <div *ngIf="lessons[cell].subjectName != null">
                                <a [routerLink]="['../subject-my-suffix', lessons[cell].subjectId  ]">{{lessons[cell].subjectName}}</a>
                            </div>
                            <div *ngIf="lessons[cell].lessonTitle != null">
                                    {{lessons[cell].lessonTitle}}
                                </div>
                            <div *ngIf="lessons[cell].roomName != null">
                                <a [routerLink]="['../room-my-suffix', lessons[cell].roomId  ]">{{lessons[cell].roomName}}</a>
                            </div>
                            <div *ngIf="lessons[cell].classSchoolId != null">
                                <a [routerLink]="['../class-school-my-suffix', lessons[cell].classSchoolId  ]">{{lessons[cell].className}}</a>
                            </div>
                            <a 
                                [routerLink]="['../lesson-my-suffix', lessons[cell].id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                        </a>
                        </div>
                        <ng-template #empty>Trống</ng-template>
                        <!-- {{cell}} -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div *ngIf="lessons && lessons.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div> -->
</div>
