<div>
    <h2>
        <span jhiTranslate="thcssondongApp.lesson.home.title">Lessons</span>
        <button class="btn btn-primary float-right jh-create-entity create-lesson-my-suffix" [routerLink]="['/', { outlets: { popup: ['lesson-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="thcssondongApp.lesson.home.createLabel">
            Create new Lesson
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="lessons">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="thcssondongApp.lesson.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ordinalNumber"><span jhiTranslate="thcssondongApp.lesson.ordinalNumber">Ordinal Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lessonTitle"><span jhiTranslate="thcssondongApp.lesson.lessonTitle">Lesson Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isActive"><span jhiTranslate="thcssondongApp.lesson.isActive">Is Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="teacherId"><span jhiTranslate="thcssondongApp.lesson.teacher">Teacher</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="weekId"><span jhiTranslate="thcssondongApp.lesson.week">Week</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subjectId"><span jhiTranslate="thcssondongApp.lesson.subject">Subject</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="roomId"><span jhiTranslate="thcssondongApp.lesson.room">Room</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="classSchoolId"><span jhiTranslate="thcssondongApp.lesson.classSchool">Class School</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lesson of lessons ;trackBy: trackId">
                <td><a [routerLink]="['../lesson-my-suffix', lesson.id ]">{{lesson.id}}</a></td>
                <td>{{lesson.date | date:'medium'}}</td>
                <td jhiTranslate="{{'thcssondongApp.OrdinalNumber.' + lesson.ordinalNumber}}">{{lesson.ordinalNumber}}</td>
                <td>{{lesson.lessonTitle}}</td>
                <td jhiTranslate="{{'thcssondongApp.Active.' + lesson.isActive}}">{{lesson.isActive}}</td>
                <td>
                    <div *ngIf="lesson.teacherId">
                        <a [routerLink]="['../teacher-my-suffix', lesson.teacherId  ]" >{{lesson.teacherId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lesson.weekId">
                        <a [routerLink]="['../week-my-suffix', lesson.weekId  ]" >{{lesson.weekId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lesson.subjectId">
                        <a [routerLink]="['../subject-my-suffix', lesson.subjectId  ]" >{{lesson.subjectId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lesson.roomId">
                        <a [routerLink]="['../room-my-suffix', lesson.roomId  ]" >{{lesson.roomId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="lesson.classSchoolId">
                        <a [routerLink]="['../class-school-my-suffix', lesson.classSchoolId  ]" >{{lesson.classSchoolId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../lesson-my-suffix', lesson.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lesson-my-suffix/'+ lesson.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lesson-my-suffix/'+ lesson.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="lessons && lessons.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
