
<div *ngIf="classSchool">
    <h2><span jhiTranslate="thcssondongApp.classSchool.detail.title">Lớp học</span> {{classSchool.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="thcssondongApp.classSchool.className">Tên Lớp học</span></dt>
        <dd>
            <span>{{classSchool.className}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.classSchool.description">Mô tả</span></dt>
        <dd>
            <span>{{classSchool.description}}</span>
        </dd>
        <dt><span jhiTranslate="thcssondongApp.classSchool.isActive">Trạng thái</span></dt>
        <dd>
            <span jhiTranslate="{{'thcssondongApp.Active.' + classSchool.isActive}}">{{classSchool.isActive}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Quay lại</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'class-school-my-suffix/'+ classSchool.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Xem</span>
    </button>
</div>
