<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubjectLabel" jhiTranslate="thcssondongApp.subject.home.createOrEditLabel">Create or edit a Subject</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subject.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subject.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.subject.subjectName" for="field_subjectName">Subject Name</label>
            <input type="text" class="form-control" name="subjectName" id="field_subjectName"
                [(ngModel)]="subject.subjectName" required/>
            <div [hidden]="!(editForm.controls.subjectName?.dirty && editForm.controls.subjectName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.subjectName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.subject.totalHours" for="field_totalHours">Total Hours</label>
            <input type="number" class="form-control" name="totalHours" id="field_totalHours"
                [(ngModel)]="subject.totalHours" required/>
            <div [hidden]="!(editForm.controls.totalHours?.dirty && editForm.controls.totalHours?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.totalHours?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.totalHours?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="thcssondongApp.subject.isActive" for="field_isActive">Is Active</label>
            <select class="form-control" name="isActive" [(ngModel)]="subject.isActive" id="field_isActive"  required>
                <option value="DEACTIVE">{{'thcssondongApp.Active.DEACTIVE' | translate}}</option>
                <option value="ACTIVE">{{'thcssondongApp.Active.ACTIVE' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.isActive?.dirty && editForm.controls.isActive?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.isActive?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
