<div>
    <h2>
        <span jhiTranslate="thcssondongApp.room.home.title">Danh sách Phòng học</span>
        <button class="btn btn-primary float-right jh-create-entity create-room-my-suffix" [routerLink]="['/', { outlets: { popup: ['room-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="thcssondongApp.room.home.createLabel">
            Thêm thông tin Phòng học
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="rooms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">Mã</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="roomName"><span jhiTranslate="thcssondongApp.room.roomName">Tên Phòng học</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="thcssondongApp.room.description">Mô tả</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isActive"><span jhiTranslate="thcssondongApp.room.isActive">Trạng thái</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="schoolId"><span jhiTranslate="thcssondongApp.room.school">Trường học</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let room of rooms ;trackBy: trackId">
                <td><a [routerLink]="['../room-my-suffix', room.id ]">{{room.id}}</a></td>
                <td>{{room.roomName}}</td>
                <td>{{room.description}}</td>
                <td jhiTranslate="{{'thcssondongApp.Active.' + room.isActive}}">{{room.isActive}}</td>
                <td>
                    <div *ngIf="room.schoolId">
                        <a [routerLink]="['../school-my-suffix', room.schoolId  ]" >{{room.schoolName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../room-my-suffix', room.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room-my-suffix/'+ room.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Xem</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'room-my-suffix/'+ room.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="rooms && rooms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
