<div>
    <h2>
        <span jhiTranslate="thcssondongApp.school.home.title">Danh sách Trường học</span>
        <button class="btn btn-primary float-right jh-create-entity create-school-my-suffix" [routerLink]="['/', { outlets: { popup: ['school-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="thcssondongApp.school.home.createLabel">
            Thêm thông tin Trường học
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="schools">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">Mã</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="schoolNam"><span jhiTranslate="thcssondongApp.school.schoolNam">Tên Trường học</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="schoolAddress"><span jhiTranslate="thcssondongApp.school.schoolAddress">Địa chỉ</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="phoneNumber"><span jhiTranslate="thcssondongApp.school.phoneNumber">Số điện thoại</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="email"><span jhiTranslate="thcssondongApp.school.email">Email</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isActive"><span jhiTranslate="thcssondongApp.school.isActive">Trạng thái</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let school of schools ;trackBy: trackId">
                <td><a [routerLink]="['../school-my-suffix', school.id ]">{{school.id}}</a></td>
                <td>{{school.schoolNam}}</td>
                <td>{{school.schoolAddress}}</td>
                <td>{{school.phoneNumber}}</td>
                <td>{{school.email}}</td>
                <td jhiTranslate="{{'thcssondongApp.Active.' + school.isActive}}">{{school.isActive}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../school-my-suffix', school.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Xem</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-my-suffix/'+ school.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Xem</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-my-suffix/'+ school.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Xóa</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="schools && schools.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
